<div class="cart-entries-container">
  <div>
    <button class="clear-button action-button" (click)="clearEntries()">REMOVE ALL</button>
  </div>
  <div *ngFor="let entry of ( cartEntries$ | async )" class="cart-entry">
    <div class="space"></div>
    <div>
      <img src="{{ entry.product.image  }}" width="200" height="200">
    </div>
    <div class="entry-details">
      <div class="product-name">
        {{ entry.product.name }}
      </div>
      <div class="count">
        QTY: {{ entry.count }}
      </div>
      <div class="detail-button-row">
        <div class="space"></div>
        <div>
          <button class="action-button detail-button" (click)="more(entry)">+</button>
        </div>
        <div>
          <button class="action-button detail-button" (click)="less(entry)">-</button>
        </div>
      </div>
    </div>
    <div class="space"></div>
  </div>
</div>
